.detail {
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}

.user {
    width: 100%;
    height: 155px;
    border-bottom: 1px solid #E1E1E1;
    padding: 5px 10px;
}

.name {
    height: 40px;
    width: 100%;
    padding: 5px 0;
}

.name a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: black;
    float: left;
    border-radius: 50%;

}

.name span:nth-child(2) {
    line-height: 30px;
    margin-left: 10px;
    color: #999999;
}

.name span:nth-child(3) {
    line-height: 30px;
    margin-left: 10px;
    float: right;
    color: red;
}

.user p {
    font: normal 400 18px/30px "microsoft yahei";
    overflow: hidden;
    height: 30px;
}

.que_cont {
    height: 40px;
    width: 100%;
    margin-top: 10px;

}

.user_img {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    float: left;

}

.que_d {
    width: 50%;
    height: 30px;
    position: relative;
    background-color: #43B181;
    border-radius: 20px 20px 20px 20px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

.que_d span:nth-child(1) {
    display: block;
    width: 10px;
    height: 14px;
    background: url("../images/wifi2.gif") no-repeat;
    background-size: 10px 14px;
    position: absolute;
    top: 8px;
    left: 20px;

}

.que_d span:nth-child(2) {
    display: block;
    width: 5px;
    height: 10px;
    background: url("../images/jiao.gif") no-repeat;
    background-size: 5px 10px;
    position: absolute;
    top: 3px;
    left: -2px;

}

.que_d span:nth-child(3) {
    display: block;
    width: 20px;
    height: 12px;
    background: url("../images/twotwo.gif") no-repeat;
    background-size: 20px 12px;
    position: absolute;
    top: 10px;
    right: -25px;

}

.que_d span:nth-child(4) {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #43B181;
    border-radius: 50%;
    float: right;
}

.que_cont .still {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #43B181;
    border-radius: 50%;
    float: right;
    text-align: center;
    margin-top: 5px;
}

.que_cont .still span {
    line-height: 30px;
    font-size: 12px;
    color: #43B181;

}

.que_st {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}

.que_st span {
    line-height: 30px;
    color: #999999;
    font-size: 12px;
    position: relative;

}

.que_st span:nth-child(1) {
    margin-left: 30px;;

}

.que_st span:nth-child(1)::before {

    display: block;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: -28px;
    background: url("../images/time.gif") no-repeat;
    background-size: 15px 15px;
}

.que_st span:nth-child(2) {
    float: right;
    margin-left: 40px;

}

.que_st span:nth-child(2)::after {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: -18px;
    background: url("../images/zan.gif") no-repeat;
    background-size: 15px 15px;
}

.que_st span:nth-child(3) {
    float: right;
}

.que_st span:nth-child(3)::after {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: -18px;
    background: url("../images/shouting.gif") no-repeat;
    background-size: 15px 15px;

}

.ask {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;

}

.ask p:nth-child(1) {
    padding-left: 15px;
    font-size: 13px;
    color: grey;
    line-height: 30px;
}

.ask p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
    padding-left: 15px;
}

.ask p:nth-child(3) {
    padding-left: 15px;
    font-size: 13px;
    color: grey;
    line-height: 30px;
}

.cust {
    width: 100%;
    height: 40px;
    position: relative;
}

.cust::after {
    display: block;
    content: '>';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px;
    font-size: large;
}

.cust a {
    display: block;
    width: 100%;
    height: 100%;
}

.cust a span:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    line-height: 25px;
    padding-left: 15px;
}

.cust a span:nth-child(2) {
    padding-left: 15px;
    font-size: 13px;
    color: grey;
    line-height: 25px;
}

.cust a div:nth-child(3) {
    padding-left: 15px;
    font-size: 13px;
    color: grey;
    line-height: 30px;
}

.like {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background: #EBEBEB;

}

.like p {
    line-height: 30px;
    color: grey;
    font-size: 16px;
    padding-left: 10px;

}

.howto {

    height: 80px;
    width: 100%;
}

.howto p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
    padding-left: 15px;
}

.howto p:nth-child(2) {
    padding-left: 15px;
    font-size: 13px;
    color: grey;
    line-height: 20px;
}
.howto p:nth-child(2) span:nth-child(2){
    margin-left: 20px;
}
.howto p:nth-child(3) {
    padding-left: 15px;
    font-size: 13px;
    color: grey;
    line-height: 20px;
}
.howto p:nth-child(3) span:nth-child(2){
    margin-left: 20px;
}
.other{
    width: 100%;
    height: 80px;
    background-color: #EBEBEB;
}