/*重置默认样式*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 0.14rem;
    color: #333;
    font-family: "MicroSoft YaHei";
    background-color: #EBEBEB;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #333;
}

input,
textarea {
    outline: none;
    border: none;
    resize: none;
    -webkit-appearance: none;
}

/*公共样式*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

/*精灵图*/
[class^="icon_"] {
    background: url("../images/sprites_index.png") no-repeat;
}

/*title 易康问答*/
.title_ykqa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 1.28rem;
}

.title_ykqa .title_box {
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    height: 1.28rem;
    padding-top: 0.4rem;
    overflow: hidden;
    position: relative;
    background-color: #43B181;
}

.title_ykqa .title_box .return {
    position: absolute;
    left: 0.2rem;
    top: 0.66rem;
    width: 0.9rem;
    height: 0.36rem;
    line-height: 0.36rem;
    text-align: center;
    padding-left: 0.2rem;
    color: #fff;
    font-size: 0.28rem;
}

.title_ykqa .title_box .return_pic {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.2rem;
    height: 0.36rem;
}

.title_ykqa .title_box a:nth-child(3) {
    display: block;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    width: 0.54rem;
    height: 0.54rem;
}

.title_ykqa .title_box .more_pic {
    width: 0.54rem;
    height: 0.12rem;
    margin: 0.61rem auto;
}

.title_ykqa .title_box h3 {
    width: 100%;
    padding: 0 0.72rem;
    margin: 0.26rem auto;
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

/*底部*/
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.98rem;
    z-index: 1;
}

.bottom_box {
    max-width: 640px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-top: 0.01rem solid #e1e1e1;
    display: flex;
    background-color: #F6F7F9;
}

.bottom a {
    display: block;
    height: 100%;
    flex: 1;
    text-align: center;
    margin-top: 0.20rem;
    padding: 0 0.45rem;
}

.bottom a span {
    display: block;
    width: 0.52rem;
    height: 0.65rem;
    background: url("../images/bottom.png") no-repeat;
    background-size: 2rem 2rem;
}
.bottom a:nth-child(1) span{
    background-position: 0 0;
}
.bottom a:nth-child(2) span{
    background-position: 0 -0.78rem;
}
.bottom a:nth-child(3) span{
    background-position: -0.63rem 0;
}
.bottom a:nth-child(4) span{
    background-position: -0.63rem -0.78rem;
}