.weixin_z {
    height: 100%;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}

.weixin_z header ul {
    width: 100%;
    height: 0.85rem;
}

.weixin_z header li {
    float: left;
    display: block;
    line-height: 0.85rem;
    height: 100%;
    width: 33.333%;
    text-align: center;
    position: relative;
}

.weixin_z header li:nth-child(1):after,
.weixin_z header li:nth-child(2):after {
    content: "";
    display: block;
    height: 0.37rem;
    width: 1px;
    background-color: #E1E1E1;
    position: absolute;
    right: 0rem;
    top: 0.24rem;
    transform: translate(-0.5px);
}

.weixin_z header li:nth-child(2) {
    border-bottom: 2px solid #43B182;
}

.weixin_z header li:nth-child(3) {
    text-align: left;
    position: relative;
}
.weixin_z header li:nth-child(3) p{
    padding-left: 0.2rem;
}
.weixin_z header li:nth-child(3) span {
    display: block;
    width: 0.33rem;
    height: 0.33rem;
    background: url(../images/mian3.jpg) 0 0 no-repeat;
    -webkit-background-size: 0.33rem;
    background-size: 0.33rem;
    vertical-align: middle;
    position: absolute;
    right: 0.2rem;
    top: 0.25rem;
}
.weixin_z header li a {
    display: block;
    width: 100%;
    font-size: 0.28rem;
    font-family: "PingFang SC";
    color: #35424B;
    font-weight: 600;
}

.weixin_z header li:nth-child(2) a {
    color: #43B182;
}

/*优学精选*/
.choiceness {
    height: 0.64rem;
    width: 100%;
}

.choiceness ul {
    height: 100%;
    padding: 0 0.2rem;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.choiceness ul li:nth-child(1) {
    float: left;
}

.choiceness ul li:nth-child(2) {
    float: right;
}

.choiceness ul li a {
    line-height: 0.64rem;
    font-size: 0.28rem;
    font-family: "PingFang SC";
    color: #35424B;
    font-weight: 600;
}

.choiceness ul li:nth-child(2) a {
    color: #43B182;
}

/*主体部分*/
.main {
    width: 100%;
}

.main section {
    width: 100%;
    height: 1.59rem;
    border-bottom: 1px solid #E1E1E1;
    padding-left: 0.2rem;
}

.main .main_l {
    float: left;
    width: 1.1rem;
    height: 1.59rem;
    margin-right: 0.4rem;
}

.main .main_l img {
    display: block;
    width: 100%;
    margin: 0.2rem 0;

}

.main .main_r {
    overflow: hidden;
    height: 1.59rem;
    padding-top: 0.3rem;
}

.main .main_r a {
    font-size: 0.28rem;
    font-family: "PingFang SC";
    color: #35424B;
    font-weight: 600;
}

.main .main_r p {
    padding-top: 0.3rem;
    padding-left: 0.35rem;
    font-size: 0.23rem;
    color: #999999;
    font-family: "PingFang SC";
    font-weight: 600;
    position: relative;
}

.main .main_r p:before {
    content: "";
    display: block;
    width: 0.34rem;
    height: 0.27rem;
    background: url(../images/xiaoxi.jpg) 0 0 no-repeat;
    -webkit-background-size: 0.28rem 0.23rem;
    background-size: 0.28rem 0.23rem;
    position: absolute;
    left: 0rem;
}

.main .one {
    height: 1.19rem;
    border-bottom: 0.2rem solid #E1E1E1;
    padding-left: 0.2rem;
}

.main .one p {
    display: block;
    height: 0.28rem;
    font-size: 0.28rem;
    font-family: "PingFang SC";
    color: #999999;
    font-weight: 600;
    margin:0.2rem 0 0.2rem 0;
}

.main .one span, i {
    font-style: normal;
    font-size: 0.23rem;
    color: #999999;
    font-family: "PingFang SC";
    font-weight: 600;
}

.main .one i {
    padding-left: 0.3rem;
}
/*底部*/
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.98rem;
    z-index: 1;
}

.bottom_box {
    max-width: 640px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-top: 0.01rem solid #e1e1e1;
    display: flex;
    background-color: #F6F7F9;
}

.bottom a {
    display: block;
    height: 100%;
    flex: 1;
    text-align: center;
    margin-top: 0.20rem;
    padding: 0 0.45rem;
}

.bottom a span {
    display: block;
    width: 0.52rem;
    height: 0.65rem;
    background: url("../images/bottom.png") no-repeat;
    background-size: 2rem 2rem;
}
.bottom a:nth-child(1) span{
    background-position: 0 0;
}
.bottom a:nth-child(2) span{
    background-position: 0 -0.78rem;
}
.bottom a:nth-child(3) span{
    background-position: -0.63rem 0;
}
.bottom a:nth-child(4) span{
    background-position: -0.63rem -0.78rem;
}