html,body{
    height: 100%;
}
.wraper {
    min-width: 340px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding-bottom: 100px;
}
/*顶部*/
.head {
    width: 100%;
    position: fixed;
    top:0;
    z-index: 9999;
}
.head .head_box {
    z-index: 9999;
    width: 100%;
    height: 80px;
    background-color: #43B180;
    line-height: 80px;
    padding: 0 25px;
    min-width: 340px;
    max-width: 640px;
}
.left_head {
    width: 20%;
    font-size: 20px;
    color: white;
}
.left_head a {
    width: 100%;
    display: block;
    color: white;
}
.center {
    width: 60%;
    float: left;
    text-align: center;
    font-size: 22px;
    color: white;
}
.right_head {
    width: 20%;
    margin-top: 36px;
}
.right_head .img_box {
    width: 20px;
    height: 20px;
    margin-left: 50%;
}
.right_head img {
    /*margin-top: 10p;*/
    display: block;
    width: 100%;
}
/*������*/
.nav {
    width: 100%;
    background-color: white;
    padding-top: 80px;

}
.nav .nav_box {
    /*max-width: 640px;*/
    /*min-width: 360px;*/
}
.nav ul {
    width: 100%;
    display: block;
    height: 60px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.nav ul li {
    display: block;
    float: left;
    width: 33.333%;
    margin-top: 14px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    position: relative;
}
.nav ul li:nth-child(1) {
    border-bottom: 2px solid #43B180;
}
.nav ul li span {
    width: 1px;
    height: 14px;
    display: block;
    background-color: #ccc;
    position: absolute;
    top: 5px;
    right: 0;
}
.nav ul li a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "PingFang SC";
    color: #35424B;
}
.nav ul li:nth-child(3) {
    border-bottom: none;
}
.nav ul li:nth-child(3) a:first-child {
    float: left;
    width: 75%;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
.nav ul li:nth-child(3) a:first-child:hover {
    border-color: #43B180;
}
.nav ul li:nth-child(3) a img {
    display: block;
    height: 20px;
    width: 20px;
}
.nav ul li:hover {
    border-color: #43B180;
}
/*�ֲ�ͼ*/
.main {
    /*padding-top: 45px;*/
    height: 100%;
    overflow: hidden;
}
.main .banner {
    overflow: hidden;
    width: 100%;
}

.banner ul {
    width: 600%;
    transform: translateX(-16.66666%);
}

.banner ul li {
    width: 16.66666%;
    float: left;
}

.banner ul li a {
    display: block;
    width: 100%;
}

.banner ul li a img {
    display: block;
    width: 100%;
}

/*������*/
.question {
    background-color: white;
    margin-top: 10px;
    padding: 0 15px 10px;
    height: 100%;
    overflow: hidden;
}
.question .tit {
    width: 100%;
    margin-top: 15px;
}

.question .tit h3  {
    font-size: 14px;
    font-family: "PingFang SC";
    color: #333333;
}
.question .con {
    width: 100%;
}
.question .con .con_tit {
    margin-top: 10px;
    font-size: 13px;
    font-family: "PingFang SC";
    color: #999999;
}
.question .con_con {
    margin-top: 15px;
    position: relative;
    display: flex;
}
.question .con_con .user {
    flex: 1;
}
.question .con_con .user a {
    display: block;
    width: 50px;
    height: 50px;
}
.question .con_con .user a img {
    height: 100%;
    display: block;
}
.question .con_con .voice {
    flex: 1.5;
    position: relative;
}
.question .con_con .voice a{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 12px;
    margin-left: -28%;
    position: relative;
}
.question .con_con .voice  audio {
    position: absolute;
    top:13px;
    left: 100px;
}
.question .con_con .voice .voice_hear {
    width: 26px;
    height: 28px;
    position: absolute;
    top:15px;
    left: -23%;
    z-index: 1000;
}
.question .con_con .voice .voice_hear img {
    width: 26px;
    height: 28px;
    display:block;
}
.animation {
    -webkit-animation: test 2s infinite ease-out;
    animation: test 2s infinite ease-out;
}
@keyframes test {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.question .con_con .voice a::after {
    content: "限时免费听";
    display: block;
    width: 100px;
    height: 28px;
    font-size:18px;
    color: white;
    position: absolute;
    top:6px;
    left: 42px;
}

.question .con_con .voice a img{
    width: 100%;
    height: 35px;
    display: block;
}

.question .con_con .right {
    flex: 1;
}
.question .con_con .right img{
    display: block;
    width: 14px;
    height: 14px;
    float: right;
    margin-top: 30px;
    margin-right: 3px;
}
.question .con_con .right span {
    margin-top: 30px;
    display: block;
    font-size: 14px;
    font-family: "PingFang SC";
    color: #969696;
    float: right;
}
/*�ײ�*/
/*底部*/
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.98rem;
    z-index: 99999;
}

.bottom_box {
    max-width: 640px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-top: 0.01rem solid #e1e1e1;
    display: flex;
    background-color: #F6F7F9;
}

.bottom a {
    display: block;
    height: 100%;
    flex: 1;
    text-align: center;
    margin-top: 0.20rem;
    padding: 0 0.45rem;
}

.bottom a span {
    display: block;
    width: 0.52rem;
    height: 0.65rem;
    background: url("../images/bottom.png") no-repeat;
    background-size: 2rem 2rem;
}
.bottom a:nth-child(1) span{
    background-position: 0 0;
}
.bottom a:nth-child(2) span{
    background-position: 0 -0.78rem;
}
.bottom a:nth-child(3) span{
    background-position: -0.63rem 0;
}
.bottom a:nth-child(4) span{
    background-position: -0.63rem -0.78rem;
}